.topnavbar::after {
    content: "";
    clear: both;
    display: table;
  }

body {
   
}

header {
    width: 100%;
   
}
.topnavbar{
 
    
}
.topnavbar ul {
    list-style: none;
    float: right;
}

.topnavbar ul li {
   
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
    font-size: small;
    font-family: arial,sans-serif;
    padding-top: 0;

}

.button-ot {
    background-color: #4387fd;
    color: white;
    font-size: 13px;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    font-weight: bold;
    border: 1px solid #4285f4;
    
}

section {
    display: flex;
    justify-content: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.den {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: small;
    font-family: arial,sans-serif;
    text-align: center;
}
.butblock {
    display: flex;
    justify-content: center;
   
}

.button-ara, .button-ken {
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;

}

input[type="text"]::placeholder {  
    text-align: center; 
}

#search {
    line-height: 34px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}

.footer.nav::after {
    content: "";
    clear: both;
    display: table;
  }

footer {
    position: absolute;
    bottom:0;
    width: 90%
}

p.country {
    font-family: arial,sans-serif;
    line-height: 40px;
    color: rgba(0,0,0,.54);
    text-align: left;
    font-size: 15px;
    margin: 10px;
    padding-left: 55px;
}
   
.leftnav {
    list-style: none;
    float: left;
}

.leftnav ul li {
   
    display: inline-block;
    font-size: small;
    font-family: arial,sans-serif;
    padding-left: 27px;

}

.rightnav {
    list-style: none;
    float: right;
}

.rightnav ul li {
   
    display: inline-block;
    font-size: small;
    font-family: arial,sans-serif;
    padding-left:27px;


}
